{% extends "admin/change_form.html" %}
{% load static %}

{% block after_related_objects %}
    <h2>Question Answerss</h2>
    <div id="question-answers">
        {% for form in inline_admin_formset.forms %}
            <div class="question-answer">
                <div>
                    <label>Answer Text:</label>
                    {{ form.answer_text }}
                </div>
                <div>
                    <pre>{{ form }}</pre>
                </div>
                <div>
                    <label>Images:</label>
                    {% for image in form.instance.images.all %}
                        <img src="{{ image.image.url }}" width="50" height="50" style="margin: 2px;" />
                    {% empty %}
                        No Images
                    {% endfor %}
                </div>
                <div>
                    <button type="button" onclick="window.open('{% url 'admin:edit_answer' form.instance.id %}', 'Edit Answer', 'width=600,height=400');">Edit</button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %} 