{% for question in questions %}
    <form method="post" action="{% url 'confirm_question' question.id %}">
        {% csrf_token %}
        <input type="text" name="text" value="{{ question.text }}">
        <input type="text" name="language" value="{{ question.language }}">
        <input type="text" name="specificity" value="{{ question.specificity }}">
        <input type="text" name="level" value="{{ question.level }}">
        <input type="text" name="answers" value="{{ question.answers }}">
        <input type="submit" value="Confirm">
    </form>
{% endfor %} 