{% extends "admin/change_form.html" %}
{% load static %}

{% block content %}
<h1>{{ original }}</h1>
{#<form method="post" enctype="multipart/form-data" action="">#}
{#    {% csrf_token %}#}
{#    <div class="form-row">#}
{#        {{ adminform }}#}
{#    </div>#}
{#    <h2>Question Answers</h2>#}
{#    <div class="inline-group" id="questionanswer_set-group">#}
{#        {{ inline_admin_formset }}#}
{#    </div>#}
{#    <div class="submit-row">#}
{#        <input type="submit" value="Save" class="default" name="_save">#}
{#    </div>#}
{#</form>#}
{% endblock %}
